/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
  font-family: 'Segoe UI', Geneva;
 }

nav {
   height: 8vh;
   width: 100%;
}



nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  height: 85vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  line-height: 0;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    margin-top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 7vh;
}

.parallax-container .container {
  margin-top: 5%;
}

img {
  width: 150px;
  height: 150px;
}

.main-data {
  font-size: 24px;
}

