{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>WeatherApp</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <ul class="left">
        <li><a class="orange-text text-lighten-3" href="#">Home</a></li>
      </ul>
    </div>
  </nav>



  <div id="search-box" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        {% block content %}
        {% endblock content %}


      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/home.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>




  <footer id="footer" class="page-footer orange">
    <div class="container">
      Made by <a class="orange-text text-lighten-3">Damian Górski</a>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
