{% extends 'base.html' %}
{% load static %}
{% block content %}

      


              <div class="row">
                <div class="col s12 m6">
                  <div class="card light-blue lighten-1">
                    <div class="card-content white-text">
                      <span class="card-title">DETAIL WEATHER FOR LONDON</span>
                        <p>16:44, Nov 4 &nbsp&nbsp&nbsp <b>London, GB</b></p>
                        <p></p>
                        <div class="divider"></div>
  
                        <p>img &nbsp<b>8*C</b></p>
                        <p><b>Feels like: 8*C</b></p>

                        <div class="divider"></div>
  
                        
                        <p><b>MainOpis</b>, opis</p>
                        <p>Pressure:<b>1036 hPa</b></p>
                        <p>Humidity:<b>80 %</b></p>

                        <div class="divider"></div>


                        <p>Temperature min:<b>3 *C</b></p>
                        <p>Temperature max:<b>66 *C</b></p>

                        <div class="divider"></div>


                        <p>WindIcon:<b>33 m/s</b></p>
                        <p>Cloudiness:<b>33 %</b></p>

                        <div class="divider"></div>

                        
                        <p>Sunrise:<b>2:00 am</b></p>
                        <p>Sunset:<b>6:00 pm</b></p>
                        <p>Timezone:<b>0</b></p>

                    </div>
                    <div class="card-action">
                      <a href="#">More details</a>
                    </div>
                  </div>
                </div>
              </div>

{% endblock content %}