{% extends 'base.html' %}
{% load static %}
{% block content %}

      


              <div class="row">
                <div class="col s12 m6">
                  <div class="card light-blue lighten-1">
                    <div class="card-content white-text">
                      <span class="card-title">DETAIL WEATHER FOR <b>{{weather_data.city}}</b></span>
                        <p>16:44, Nov 4 &nbsp&nbsp&nbsp <b>{{weather_data.city}}, {{weather_data.country}}</b></p>
                        <p></p>
                        <div class="divider"></div>
  
                        <figure class="image">
                          <img src="http://openweathermap.org/img/w/{{weather_data.icon}}.png" alt="Image">
                        </figure> 
                        <p class="main-data"><b>{{weather_data.temperature}}&nbsp °C</b></p>
                        <p><b>Feels like: {{weather_data.temperatureFeelsLike}}&nbsp°C</b></p>
                        <p><b>{{weather_data.mainDescription}}</b>, {{weather_data.description}}</p>

                        <div class="divider"></div>
  
                        
                        <p><i class="material-icons tiny">av_timer</i>&nbsp&nbsp<b>{{weather_data.pressure}} hPa</b></p>
                        <p><i class="material-icons tiny">opacity</i>&nbsp&nbsp<b>{{weather_data.humidity}} %</b></p>

                        <div class="divider"></div>


                        <p>Temperature min (now):&nbsp&nbsp<b>{{weather_data.tempMin}}&nbsp°C</b></p>
                        <p>Temperature max (now):&nbsp&nbsp<b>{{weather_data.tempMax}}&nbsp°C</b></p>

                        <div class="divider"></div>


                        <p><i class="material-icons tiny">send</i>&nbsp&nbsp<b style="font-size: 18;">{{weather_data.wind}} m/s</b></p>
                        <p><i class="material-icons tiny">cloud_queue</i>&nbsp&nbsp<b style="font-size: 18;">{{weather_data.cloudiness}} %</b></p>
                        <p><i class="material-icons tiny">visibility</i>&nbsp&nbsp<b style="font-size: 18;">{{weather_data.visibility}} km</b></p>

                        <div class="divider"></div>

                        
                        <p>Sunrise:&nbsp&nbsp<b>{{weather_data.sunrise}}&nbspUTC</b></p>
                        <p>Sunset:&nbsp&nbsp<b>{{weather_data.sunset}}&nbspUTC</b></p>
                        <p>Timezone:&nbsp&nbsp<b>{{weather_data.timezone}}&nbspUTC</b></p>

                    </div>
                  </div>
                </div>
              </div>

{% endblock content %}